# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# local stuff
/config/local*
!/config/local.cjs.EXAMPLE
/config/*-development*
/config/*-preproduction*
/config/*-production*
